.main div{
    max-height: none;
}

.main{
    max-height: none !important;
    box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.container{
    max-height: 423px !important;
    display: flex;
    justify-content: center;
}

.img{
    object-fit: scale-down;
    max-width: 100% !important;
    max-height:100%;
    width:inherit !important;
}