.spacer1{
    margin-top: 3.75em;
}

.spacer2{
    margin-top: 1.25em;
}

.spacer3{
    margin-top: 2.5em;
}

.mealmain{
    text-align: left;
}

.mealmain h5{
    font-size: .75em;
    line-height: 1.625em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .03em;
}

.mealmain,
.mealmain div{
    max-height: none !important;
}

.title{
    margin: 0;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 300;
    text-align: left;
    margin-bottom: 1em;
}

.para,
.para1:nth-child(1){
    margin: 0;
    margin-top: 1em;
    font-size: 1em;
}

.para1{
    margin: 0;
    font-size: 1em;
}

.wel_yay{
    color: #92C01F;
    margin-bottom: .3em;
    font-size: .80em;
    line-height: 1.625em;
    letter-spacing: .03em;
}

.wel_nay{
    color: #DC4814;
    margin-bottom: .3em;
    font-size: .80em;
    line-height: 1.625em;
    letter-spacing: .03em;
}