.bgwhite{
    background-color: white;
}

.sectionBackground{
    background-image: url(https://www.homestay.com/assets/landing/become_a_host/hero-6a59e5e3a4e87806a6255afc838a59219d758e71986e9858b28e9a06ac26c456.jpg);
    min-height: 500px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    display: block;
    width: 100%;
}

.content{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    font-family: Open sans, sans-serif;
    text-align: left;
    position: static;
    margin-top: 200px;
    margin-bottom: 50px;
}

.rent{
    color:white;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 3.38em;
    text-shadow: 0 1px 2px rgba(71, 71, 71, 0.64);
}

.subContent{
    color:white;
    margin-top: 15px;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 2.25em;
    text-shadow: 0 1px 2px rgba(71, 71, 71, 0.64);

}

.listRoom{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F1EFEF;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    font-family: Open sans;
    color: #512B1A;
    font-size: 14px;
    line-height: 1 em;
    margin-top:52px;
    margin-bottom: 50px;

}

.list{
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 0;

}

.my-facebook-button-class{
    text-transform: uppercase;
    font-size: 15px;
    color:#3b5998;
    border:1px solid black;
    background-color: #ffffff;
    position: relative;
    padding-left: 4.5em;
    text-align: center;
    min-height: 42px;
    cursor: pointer;
    padding:4px;
}

