.filter{
    background-color: rgba(183, 177, 174, 0.3) !important;
}

.trans{
    background-color: transparent;
}

.filterWidth{
    width: 600px;
    min-height: 350px;
}

.filterFont Button{
    text-align: left;
    color:#512B1A;
    font-size: 12px;
    font-weight: bold;
    border-radius: unset;
    border: 1px solid slategray;
    padding: 10px;
    min-width: 150px;
}

.filterHead {
    font-size: 0.750em;
    font-weight: 600;
    color:#512B1A;

}

.btnWidth{
    width:100%;
}
