.date{
    padding:5px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border-radius: 2px;
    border:1px solid #DBD8D6;
    box-shadow: none;
    padding-left: 33px;
    width: 100%;
    color: #512B1A !important;
}

.date:focus{
    border-color: #8EC9E7 !important;
    box-shadow: none;
    outline: none;
}

.wrapper {
    position: relative;
}

.wrapper > i{
    position: absolute;
    top: 1px;
    left: 5px;
    padding:14px 6px 0;
    color: #B7B1AE;
    font-size: 18px;
}

.select{
    position: relative;
    border-width: 2px;
    border-color: #92C01F;
    width:100%;
}

.select > i{
    position: absolute;
    top: 1px;
    left: 5px;
    padding-top: 14px;
    font-size: 18px;
    margin:0 10px;
    color: #B7B1AE;
}

.guestInput {
    padding:8px 10px 10px;
    padding-left: 42px;
    width:100%;
    border-width: 2px;
    border-radius: 2px;
    border-color: #DBD8D6;
    box-shadow: none;
    background-color: #fff;
    height:50px;
}

.guestInput > option{
    text-align: center;
}

.guestInput:focus,
.guestInput:focus-within{
    border-width: 2px;
    border-color: #92C01F;
}

.unselect{
    font-size: .75em;
    line-height: 1.625em;
    letter-spacing: .03em;
    color: #337ab7 !important;
    cursor: pointer;
}

.btn{
    width:80%;
    height:50px;
}