.imgheight{
    width:96px;
    height:96px;
    border-radius: 50%;
    border: 5px solid silver;
}

.imge{
    max-width: 100%;
    max-height: 100%;
}

.para{
    font-size: 1.2em;
    line-height: 1.625em;
    font-family: Open sans;
    font-weight: 400;
    color: #512B1A;
    text-align: left;
}

.arrowBox{
    background-color: #F1EFEF;
}


.arrowBox:after{
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid #F1EFEF;
    position: absolute;
    right: 100%;
    bottom: 70%;
    margin-left: -10px;
    }

    .spacer1{
        margin-top:50px;
        padding-top:90px;
        background-color: white;
        padding-bottom:80px;
    }
    
    .spacer2{
        margin-top: 1.25em;
    }