  
  .navbar-brad img{
    opacity: 1;
    max-height: 33px;
    height: initial;
    padding: 0;
    width:100%;
  }

  .fonthomebar{
    color: #512B1A;
    padding: 0 15px;
    border-bottom: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: .75em;
    line-height: 1.625em;
    letter-spacing: .08em;
    font-weight: 600;
    font-family: Open sans;
}
  
#collasible-nav-dropdown{
 
  color: #512B1A;
    padding: 0 15px;
    border-bottom: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: .75em;
    line-height: 1.625em;
    letter-spacing: .04em;
    font-weight: bold;
    font-family: Open sans;
    opacity:1
}

.himage img{
  height:35px;
  float: left;
  margin-left:10px ;
}

.listroom{
  font-size: 0.80em;
  font-weight: bold;
  color:#512B1A;
  font-size: .75em;
    line-height: 1.625em;
    letter-spacing: .03em;
    font-weight: bold;
    font-family: Open sans;
    opacity:1
}