.himage img{
    height:30px;
    float: left;
    margin-left:10px ;
    margin-top: 10px;
}


.fontstyle{
    color: #512B1A;
    padding: 15px;
    border-bottom: none;
    line-height: 65px;
    display: inline-block;
    position: relative;
    font-size: .80em;
    line-height: 1.625em;
    letter-spacing: .03em;
    font-family: Open sans;
    font-weight: bolder;
    justify-content: center;
}

.fontstyle1{
    color: #512B1A !important;
    border-bottom: none;
    line-height: 65px;
    display: inline-block;
    font-size: .75em;
    line-height: 1.625em;
    letter-spacing: .03em;
    font-family: Open sans;
    font-weight: bolder;
    background: none;
}
.bordr{
    border:5px solid white;
}

.imge{
    border-radius: 50%;
    border:2px solid silver;
    padding:5px;
    margin-right: 8px;
}
