.bgwhite{
    background-color: white;
}

.bgSilver{
    background-color: rgba(183, 177, 174, 0.3);
    height: 500px;
}

.cardBody{
    width:350px;
    margin:auto;
    padding-top: 70px;
}

.cardBody div:first{
    background-color: #CA005D;
}


.cardPadding{
    margin:auto;
}

.forgot{
        font-size: 1.5em;
        line-height: 0.6em;
        margin: 0;
        padding: 0.8333333333em 15px;
        color:white;
        opacity:1;
        font-family: Open sans;
        font-weight: 400;
}

.bgSilver p{
    color:#512B1A;
}

.btnCss{
    background:#92C01F;
    border-bottom:2px solid #607e14;
    padding:10px;
    border-radius: 5px;
    color:white;
    margin:15px;
}