.navLinks {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .navLinks > a {
    list-style: none;
    margin: 0px 10px;
  }

  .navbar{
    margin:auto;
  }
  

  .nav{
    
    color:white !important;
  }
  
  .navbar-Brand img{
    opacity: 1;
    max-height: 33px;
    height: initial;
    padding: 0;
    width:100%;
  }

  .imgset img{
    width:100%;
    height:20px;
  }